fastapi
uvicorn[standard]
python-dotenv==1.0.1
requests==2.32.3
google-generativeai
azure-data-tables
azure-core
azure-storage-blob>=12.19.0
google-genai>=0.3.0
pydantic
pdf2image
python-multipart
Pillow
openai>=1.40.0
azure-cognitiveservices-vision-customvision
msrest
PyJWT[crypto]==2.9.0

numpy
opencv-python
pandas
pytesseract
pillow-heif

openpyxl